* {
    box-sizing: border-box;
    }
    body{
        background-color: rgb(52, 58, 60);
    }

a:visited {
    color:rgb(249, 248, 255);
}
a:hover {
    background-color:#424242;
    width: 100%;
}
.menu {
height: 100%;
}
.menu ul{
background-color: rgba(0, 0, 0, 0.644);
margin: 0;
list-style: none;
padding: 0;
display: block;
justify-content: center;
}
.menu li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    border: 3px solid rgb(216, 216, 216);
    text-align: center;
    flex-grow: 1;
}
.menu  ul li a {
    display: block;
    padding: 100px;  
    color: #fff;
    text-decoration: none;

}
.menu li:hover{
    background: rgba(1,1,1,0.7);
}

.tit,h1{
    color: rgb(171, 204, 95);
}
h2{
    color: #319cce;
}
